<ion-view title="Choose Reason" cache-view="false" id="page22">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-help"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="loader">
      <div class="loading"></div>
    </div>
    <div class="headerbg" style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/r7hS7zzwRJyx35SaB7o3_used-car-values-car-quote2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="chooseReason-markdown41" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;font-size:15px;">Choose reason for this vehicle search</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <a ui-sref="loadingPage()" id="chooseReason-button11" ng-click="setUser('A')" class="button button-positive button-large button-block new">I own this</a>
    <a ui-sref="loadingPage()" id="chooseReason-button34" ng-click="setUser('B')" class="button button-balanced button-large button-block cheap">I want to buy this</a>
    <a ui-sref="loadingPage()" id="chooseReason-button35" ng-click="setUser('C')" class="button button-assertive button-large button-block dies">No reason</a>
  </ion-content>
</ion-view>