<ion-view title="Paused - Login" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qaSWLKrlSki5F34VZNDe_car-curve-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h4 id="pausedLogin-heading8" style="color:#000000;text-align:center;">Please login to keep searching!</h4>
    <h6 style="color:#000000;font-style:italic;text-align:center;">Not Registered?
      <a style="color: grey;; href=" # "=" ">Register Here</a></h6><div class="spacer " style="width: 300px; height: 10px; "></div><form id="pausedLogin-form6 " class="list "><label class="item item-input " id="pausedLogin-input6
        "><span class="input-label ">Phone Number</span><input type="text " placeholder=" "></label><div class="spacer " style="width: 300px; height: 10px; "></div><label class="item item-input " id="pausedLogin-input7 "><span class="input-label
        ">Password</span><input type="text " placeholder=" "></label></form><a ui-sref="welcome() " id="pausedLogin-button20 " class="button button-assertive button-block ">Login</a></ion-content></ion-view>