<ion-view title="Paused - What Matters - Buyer" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pausedWhatMattersBuyer-card22">
      <div class=" item item-image">
        <img src="img/dslqOBnfQKBOGIlbhwKZ_carcurve-header.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="pausedWhatMattersBuyer-markdown46" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Select what you want.</p>
    </div>
    <a ui-sref="choosePrice()" id="pausedWhatMattersBuyer-button16" ng-click="setImportance('A')" class="button button-positive button-large button-block">Good resale value</a>
    <a ui-sref="choosePrice()" id="pausedWhatMattersBuyer-button17" ng-click="setImportance('B')" class="button button-balanced button-large button-block">Drive it forever</a>
    <a ui-sref="choosePrice()" id="pausedWhatMattersBuyer-button18" ng-click="setImportance('C')" class="button button-assertive button-large button-block">Needs to be newer</a>
  </ion-content>
</ion-view>