<ion-view title="Paused - Register" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qaSWLKrlSki5F34VZNDe_car-curve-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h4 id="pausedRegister-heading7" style="color:#000000;text-align:center;">Please Register Below</h4>
    <h4 id="pausedRegister-heading10" style="color:#000000;font-style:italic;text-align:center;">Already Registered?</h4>
    <a ui-sref="pausedLogin()" id="pausedRegister-button25" class="button button-positive button-block">Login here</a>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <form id="pausedRegister-form5" class="list">
      <label class="item item-input" id="pausedRegister-input3">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <label class="item item-input" id="pausedRegister-input8">
        <span class="input-label">Zip</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <label class="item item-input" id="pausedRegister-input4">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <a ui-sref="welcome()" id="pausedRegister-button19" class="button button-assertive button-block">Register Account</a>
    </form>
  </ion-content>
</ion-view>