<ion-view title="Paused - Source - Seller" id="page15">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pausedSourceSeller-card213">
      <div class=" item item-image">
        <img src="img/GK4zEUvNTz6L9CQeZgeu_carcurve-header.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <h4 id="pausedSourceSeller-heading15" style="font-weight:400;text-align:center;">How would you like to sell?</h4>
    <a ui-sref="pausedCarSelectSeller()" id="pausedSourceSeller-button26" ng-click="setSeller('A')" class="button button-positive button-block">Dealership Trade In</a>
    <a ui-sref="pausedCarSelectSeller()" id="pausedSourceSeller-button27" ng-click="setSeller('B')" class="button button-positive button-block">Private Sale</a>
    <a ui-sref="pausedCarSelectSeller()" id="pausedSourceSeller-button28" ng-click="setSeller('C')" class="button button-positive button-block">No Preference</a>
    <div>
      <a style="display:block;" ui-sref="termsAndConditions()">
        <img src="img/logosize220formathorizontalretinatruecolorblueapi_keyykv5c7452ysyhbhqtgjfpkap" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>