<ion-view title="Paused - Style - Buyer" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qaSWLKrlSki5F34VZNDe_car-curve-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h4 id="pausedStyleBuyer-heading13" style="color:#000000;text-align:center;">Your preferred style?</h4>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <form id="pausedStyleBuyer-form10" class="list">
      <label class="item item-select" id="pausedStyleBuyer-select7">
        <span class="input-label">Select</span>
        <select ng-model="styleSelect">
          <option>Convertable</option>
          <option>Coupe</option>
          <option>Crossover</option>
          <option>Diesel</option>
          <option>Electric</option>
          <option>Hatchback</option>
          <option>Hybrid</option>
          <option>Luxury</option>
          <option>Minivan</option>
          <option>Sedan</option>
          <option>SUV</option>
          <option>Truck</option>
          <option>Wagon</option>
        </select>
      </label>
      <a ui-sref="chooseType()" id="pausedStyleBuyer-button24" ng-click="setStyle(styleSelect)" class="button button-positive button-block">Select</a>
    </form>
    <div>
      <a style="display:block;" ui-sref="termsAndConditions()">
        <img src="img/logosize220formathorizontalretinatruecolorblueapi_keyykv5c7452ysyhbhqtgjfpkap" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>