<ion-view title="Terms and Conditions" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://www.edmunds.com/?id=apis">
        <img src="img/logosize220formathorizontalretinatruecolorblueapi_keyykv5c7452ysyhbhqtgjfpkap" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="termsAndConditions-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The above image takes you to edmunds.com. The website that hosts the api which this app uses to determin all of its calculations.</p>

      <p style="color:#000000;">This app assumes that the price of cars will decrease relevant to the millage increase of a car. The total price of the vehicle does not include maintenance or modifications made to the car.</p>
    </div>
  </ion-content>
</ion-view>